In [2]:
#-------------------------------FIRST PYTHON PROGRAM-------------------------------------------------#

print("hello python")
print()
print("hello world!", end = " " )
print("Are you doing great?")
print()

hello python

hello world! Are you doing great?

In [ ]:
#variable ruels
'''
1.no numericals 
2.no special characters
3.case sensitive 
4.no inbuilt keywords 

'''

In [3]:
#python key word
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#---------------------------------PYTHON LITERLS-----------------------------------------------------#

#I. STRING LITERLS: 


#single line string
print("THIS IS SINGLE LINE STRING")
print("haresh")
print('haresh')
print("haresh's father")
print('''hello "haresh's" father''')
print()
#multiline string
print("[THIS IS MULTILINE STRING ]")
                                        #using black slash
print("hello\
 haresh\
 wellcome\
 to\
 python classs")
print()

print('''hello
haresh
wellcome
to
python classs''')                        #Using triple quotation marks
print()
print("[NEW LINE]")
print("hello\nharesh\nwellcome\nto\npython classs")     #USNING \N
print()

#SPACE
str1 = 'xyz\t123\tabc\tmin'
result = str1.expandtabs(5)
print(result)
print()

#II.NUMERIC LITERALS:

print("1.integer literals is:100")
print("2.float  literals is:10.5")
print("3.boolean  literals is:'true','false'")
print("4.long literals is:12345678L")
print("5.complex  literals is:3.14j")
print("6.special  literals is:'none'")

print()
#LITERAL COLLECTION. 
print("1.tuples is literal collection") 
print("2.lists is lteral collection")
print("3.Dictionary is leteral collection")
print("3.Set is leteral collection")

In [ ]:
operators in python :

1.arithmethic
2.assignment
3.comparision
4.logical
5.identity
6.membership
7.binary bitwise
8.shift operators

In [ ]:
# bitwise operators

a = 7
b = 4

# Print bitwise AND operation
print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)
#??

# print bitwise XOR operation
print("a ^ b =", a ^ b)

In [ ]:
 #bitwise XOR..True only if operators are diffrent 
 #bitwise OR..True only if any of the operator is True
 #bitwise AND..True only if both the operators are True

x = 4  
x ^= 7 
print(x)
# x = x ^ 7
# x = 000 ^ 111 = 111

#or

x = 5
x |= 4

print(x)

#  x = x | 4
#  x = 5 | 4
#  x = 101  |   100
#       101

#and
x = 4
x &= 5 

print(x)

# x = x & 5 
# x = 4 & 5
# x = 100 
#  &  101
#     100 (4)

In [4]:
#bitwise oprator
#bitwise right shift..decreases the value
x = 4 
x <<= 1
print(x)
#bitwise right shift..decreases the value
x = 7 
x >>= 1
print(x)

8
3

In [ ]:
#------------------------------------------ARITHMETIC OPRATORS.---------------------------------------------------------------#
'''
1.SUM(+)
2.SUBSTRACT(-)
3.MULTIPLY(*)
4.DIVID(/)
5.FLOOR DIVISION(//)
6.MODULO(%)
7.POWER(**)
'''
def add(x,y):
    return x+y
def sub (x,y):
    return x-y
def mul (x,y):
    return x*y
def div (x,y):
    return x/y
def floordivision(x,y):
    return x//y
def modulo(x,y):
    return x%y
def power(x,y):
    return x**y

print("enter choice opration:")
print("1.add:")
print("2.sub:")
print("3.mul:")
print("4.div:")
print("5.floordivision:")
print("6.modulo:")
print("7.power:")

while True:
    choice=input("enter your choice(1/2/3/4/5/6/7)")
    if choice in ('1','2','3','4','5','6','7'):
        num1=float(input("enter first:"))
        num2=float(input("enter second:"))

        if (choice=='1'):
            print(num1, "+",num2, "=",add(num1,num2))
        elif (choice=='2'):
            print(num1, "-",num2, "=",sub(num1,num2))
        elif (choice=='3'):
            print(num1, "*",num2, "=",mul(num1,num2))
        elif (choice=='4'):
            print(num1, "/",num2, "=",div(num1,num2))
        elif (choice=='5'):
            print(num1, "//",num2, "=",floordivision(num1,num2))
        elif (choice=='6'):
            print(num1, "%",num2, "=",modulo(num1,num2))
        elif (choice=='7'):
            print(num1, "**",num2, "=",power(num1,num2))
        nextcal=input("let start again?(yes/no):")
        if (nextcal=="no"):
            print("thaks for use calculator:")
            break
            

    else:
        print("invalid input:")

In [ ]:
#------------------------------------------RELATIONAL OPRATORS.---------------------------------------------------------------# 

'''
1.GREATER THAN(>)
2.LESS THAN(<)
3.GREATER THAN OR EQUAL TO(>=)
4.LESS than or equal to(<=)
5.EQUAL TO (=)
6.NOT EQUAL TO (!=)
7.NOT EQUAL TO (<>)
'''
a1=17
a2=14
print("less than:",a1,"<",a2,"=",a1<a2)
print("less than or equal to:",a1,"<=",a2,"=",a1<=a2)
print("greater than:",a1,">",a2,"=",a1>a2)
print("greater than or equal to :",a1,">=",a2,"=",a1>=a2)
print("equal to:",a1,"==",a2,"=",a1==a2)
print("not equal to:",a1,"!=",a2,"=",a1!=a2)

In [ ]:
#------------------------------------------ASSIGNMENT OPRATORS.---------------------------------------------------------------# 
'''
1.assign(=)
2.Divide and Assign(/=)
3.Add and assign (+=)
4.Subtract and Assign(-=)
5.Multiply and assign(*=)
6.Modulus and assign(%=)
7.Exponent and assign(**=)
8.Floor division and assign(//=)
'''
a=50            #assign(a=50)
print(a)
a+=5            #add and assign(a+5=55)
print(a)
a-=5            #substract and assign(a-5=50)
print(a)
a*=5            #multiply and assign(a*5=250)
print(a)
a/=5            #divid and assign(a/5=50)
print(a)
a//=5           #floor division and assign(a//5=10)
print(a)
a**=5           #power and assign(a**5=100000)
print(a)
a%=5            #modulo and assign(a%5=00)
print(a)

In [ ]:
#assignment oprator

= x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3

In [ ]:
#------------------------------------------LOGICAL OPRATORS.---------------------------------------------------------------# 
#using leap year
'''
1.and(When both conditions are true output will be true)
2.or(If any one condition is true output will be true)
3.not(Compliment the condition)
'''
h=3
v=5
r=15
print("TRY AND OPRATOR")
a=h<v and v<r
print(h,"<",v,"and",v,"<",r,a)
a=v<h and v<r
print(v,"<",h,"and",v,"<",r,a)
print()
print("TRY OR OPRATOR")
b=h<v or 5<15
print(h,"<",v,"and",v,"<",r,b)
b=5<3 or 5<15
print(b)
print()
print("TRY NOT OPRATOR")
c=not(5>4)
print(c)
c=not(4>5)
print(c)

In [ ]:
#------------------------------------------MEMBERSHIP OPRATORS.---------------------------------------------------------------# 
'''
1.in(Returns true if a variable is in sequence of another variable, else false.)
2.not in (Returns true if a variable is not in sequence of another variable, else false.)
'''
list1=["haresh",2,4,5,7,8,"ram"]
list2=["h",2,5,4,7,8,"a","ram"]
print("try in oprator")
list3=list1 in list2
print(list3)
print()
print("try not in oprator")
list3=list1 not in list2
print(list3)

In [ ]:
#------------------------------------------IDENTITY OPRATORS.---------------------------------------------------------------# 
'''
1.is (Returns true if identity of two operands are same, else false )
2.is not (Returns true if identity of two operands are not same, else false.)
'''
a=20
b=25
print("try is or is not oprator")
c=a is b
print(c)
c=a is not b
print(c)
print()

In [ ]:
#------------------------------------------PYTHON COMMENT---------------------------------------------------------------------# 
'''
1.SINGLE LINE COMMENT(SYMBOL=#)
2.MULTI LINE COMMENT
'''
#this is single line comment
'''
this
is                                           
multi
line
comment
'''

In [ ]:
#--------------------------------------------PROGRAM---------------------------------------------------------------------------#

In [2]:
#--------------------------------------PYTHON CONTROL STATEMENT----------------------------------------------------------------#
'''
1.if statement
2.if else statement
3. nested if statement
'''
#if statement
print("if statement")
print()
a=10
if(a==10):
    print("this is only if statement:")
print()

#if-else statement
print("if else statement")
print()
a=int(input("enter first num:"))
b=int(input("ente second number"))
c=a+b
if(c<a):
    print("c small to a",c,"<",a)
else:
    print("c is greter to a",c,">",a)
print()

print("nested if statement")
print()
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))

if(num1>num2):
    print(num1 ,"is greatre than  ",num2)
elif(num1<num2):
    print(num1 ,"is less than",num2)
elif(num1==num2):
    print(num1 ,"is equal to",num2)

#nested if else
a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))

if(a > b):
  if (a>c):
    print("a is greatest")
  else: 
    print("c is greatest")
elif (b>c):
  print("b is greatest")
else:
  print("c is greatest")

enter a : 4
enter b : 5
enter c : 8
c is greatest

In [ ]:
#-----------------------------------------------------LOOP---------------------------------------------------------------------#
'''
1.FOR LOOP
2.NESTED FOR LOOP
3.WHILE LOOP
'''
print("use for loop")
num=int(input("Enter number:"))
for i in range(1,11):
    print(i*num)
for i in range(1,11):
    print(i)
print()
mul=5
for i in range(1,11):
    
    if (i%2==0):
        a=mul
        mul=mul*i
        print('{0} * {1} = {2}:'.format(a,i,mul))
        print()
num=int(input("Enter number:"))
for i in range(1,11):
    a=num*i
    print("{0}*{1}={2}:".format(num,i,a))

print()
print("nested loop")
for i in range(1, 6):

    for k in range(i, 11):
        print(' ', end ='')
        
    for j in range(1, i+1):
        print(j, end =' ')
    print()

print("while loop")
#armstong number
num=int(input("enter number:"))
sum=0

org=num
while org>0:
    digit=org % 10
    sum += digit **3
    org//=10
    

if num==sum:
    print(num,"is an armstrong number")
else:
    print(num,"is not an armstrong number")

In [ ]:
#----------------------------------------BREAK ,PASS,CONTINUE STATMENT--------------------------------------------------------#
list1=[1,2,3,4,5,6,7,8,9]

#break

print("use break")
for i in list1:
    if(i==4):
        break
    print(i)
print()

#pass

print("use pass")
for i in list1:
    if (i==4):
        pass
    print(i)
print()

#continue

print("use continue")
for i in range(1, 11):
  if i%2 == 0:
    print("somthing")
    continue
    print("after")
    
  else:
    print(i)

print("loop over")

In [ ]:
#--------------------------------------------STRINGS---------------------------------------------------------------------------#

In [ ]:
#--------------------------------------------BASIC OPERATORS-------------------------------------------------------------------#
'''
1. Basic Operators. 
   I. Concatenation Operator (+)
   II.Replicating Operator (*)

3. Relational Operators
'''
#String Concatenation Operator (+) 
str1=input("Enter str1:")
str2=input("Enter str2:")
str3=str1 + str2
print(str3)
print()
'''
a="haresh"
b=12
c=a+b
print(c)                   #TypeError: can only concatenate str (not "int") to str
print()
'''
#String Replicating Operator (*)
#NOTE: We can use Replication operator in any way i.e., int * string or string * int. 
#Both the parameters passed cannot be of same type. 
str1=input("Enter str1:")
num=int(input("Enter str2:"))
str3=str1 * num
print(str3)
print()

In [ ]:
#--------------------------------------------MEMBERSHIP OPERATORS--------------------------------------------------------------#
'''
1.IN
2.NOT IN
'''
str1="hello haresh nandaniya how are you?"
str2="?"
str3="nandaniya?"
print("in")
print(str2 in str3)
print(str2 in str1)
print()
print("not in ")
print(str2 not in str1)

In [4]:
#--------------------------------------------RELATIONAL OPERATORS--------------------------------------------------------------#
str1="a"
str2="A"
str3="a"
print("equal to")
print(str1 == str3)
print()
print("less than")
print("a is less than A:",str1<str2)#becouse ancii value of a=97 and A=65
print()
print("greter than ")
print("A is greter than a:",str2 > str1)

equal to
True

less than
a is less than A: False

greter than
A is greter than a: False

In [ ]:
#--------------------------------------------------STRING SLICING--------------------------------------------------------------#
str1="son of murlidhar"
a=len(str1)
print(a)
print()
str1="son of murlidhar"
a=len(str1)
print("lenth of givin string is:",a)
print(str1[0:6])
print()
print(str1[0:])                             #all string show
print()
print(str1[0])                              #only first later show
print()
print(str1[-1])                             #only last ;ater show
print()
print(str1[-3])                             #only last to 3 number later show
print()
print(str1[0:10:2])
print()
print(str1[4:])
print()
print(str1[-10:-1])
print()
print(str1[:-1])                            #last later count naithay
print()
print(str1[0:5])#son o (start left side)
print()
print(str1[-16:-11])#son o (str right side)

In [ ]:
#--------------------------------STRING FUNCTION-----------------------------------------------------#
#user and passwad
#lower()    
#print(s.casefold())
#print(s.center(40,"*"))
#print("frienis".replace("i", "o"))
str=input("Enter String:")
print("now your string are convert lower case:",str.lower())          #all string convert capital to small
print()
#upper()
print("now your string are convert upper case:",str.upper())          #all string covert small to capital
print()
#capitalize()                                                                    
print("now your string are convert capitalize:",str.capitalize())     #first later convert small to capital
print()
#title()
print("now your string are convert title:",str.title())               #perticular string first later convert to capital
print()
#swapcase()
print("now your string are convert swapcase:",str.swapcase())         #swapcase is convert small to capital and capital to small
print()
#islower()
print("now your string are convert islower case:",str.islower())          #all string are small than "true",another "false"
print()
#isupper()
print("now your string are convert isupper case:",str.isupper())          #all string are capital than "true",another "false"
print()
#isalpha()
print("now your string are convert isalpha case:",str.isalpha()) #space not in string than "true",another "false"(not use digit)
print()
#isdigit()
print("now your string are convert isdigit case:",str.isdigit())          #all string are digit than "true",another "false"
print()
#isalnum()
print("now your string are convert isalnum case:",str.isalnum()) #space not in string than "true",another "false"(string+digit)
print()
#isspace()
print("now your string are convert isspace case:",str.isspace()) #only blank space consider "truer" othetthan "false"
print()
#
print("now your string are convert isspace case:",str.isspace()) #only blank space consider "truer" othetthan "false"
print()

In [ ]:
#-------------------------------------------------STRING METHOD----------------------------------------------------------------#
#(if-else)
#len(argument)
msg = input("Enter Your String:")                            #enteryour main string
print()

print("your string:",msg)                                    #print your enter main string
print()

print("lenth of given string:",len(msg))                     #count lenth of given main string
print()

#------------------------------------------------------------------------------------------------------------------------------#                     
#count(str,start,end)
#syntax:-mainstring.count(substrname,starting,ending)
substr1 =input("Which Latter Count:")                          #enter sub string(which latter count)

pcount=msg.count(substr1, 0, 16)                               #individual later count in a string
print(substr1,'=',pcount)
print()
#------------------------------------------------------------------------------------------------------------------------------#
#find(str,start,end)
#syntax:-mainstring.find(substrname,starting,ending)


substr1=input("which word find:")                   #to find index is first is come(ex=haresh,find="h",index=0)
print (msg.find(substr1,5,10))
print()
#------------------------------------------------------------------------------------------------------------------------------#
#index
#syntax:-mainstring.find(substrname,starting,ending)


substr1=input("which word index find:")                   #to find index is first is come(ex=haresh,find="h",index=0)
print (msg.index(substr1))
print()
#------------------------------------------------------------------------------------------------------------------------------#
#startswith(str,start,end)
#syntax:-mainstring.startswith(substrname,starting,ending)


substr1=input("give your starting word:")                   #sting starting word is find givin anser is "true" another "false"
print (msg.startswith(substr1))
print()
#------------------------------------------------------------------------------------------------------------------------------#
#endswith(str,start,end)
#syntax:-mainstring.endswith(substrname,starting,ending)


substr1=input("give your ending word:")                   #sting ending word is find givin anser is "true" another "false"
print (msg.endswith(substr1))
print()
#------------------------------------------------------------------------------------------------------------------------------#
#lstrip()
print (msg.lstrip())                                     #remove left side space
print()

#------------------------------------------------------------------------------------------------------------------------------#
#rstrip()
print (msg.rstrip())                                     #remove right side space

In [ ]:
#-----------------------------------------------------LIST---------------------------------------------------------------------#

In [ ]:
#LIST Concatenation Operator (+) 
list1=input("Enter list1:")
list2=input("Enter list2:")
list3=[list1] + [list2]
print(list3)
print()

#String Replicating Operator (*)
#NOTE: We can use Replication operator in any way i.e., int * string or string * int. 
#Both the parameters passed cannot be of same type. 
list1=input("Enter list1:")
num=int(input("Enter num:"))
list=[list1] * num
print(list)
print()

In [ ]:
#--------------------------------------------------LIST SLICING----------------------------------------------------------------#
s = "tops technologies"
for i in s:
  print(i)
#SLICING
print(s[3])
print(s[2:14:2])
print(s[0:15:2])
print(s[-10:-5])
print(s[::-1])
print(s[:10:-1])            #Que
print(s[::2])
print(s[3::-1])

In [ ]:
#--------------------------------------------------LIST OPRATION---------------------------------------------------------------#
'''
1.Updating 
2.Appending
3.Deleting
'''
#updating

l1=[1714,"dax",7881,'a',8,10,"ram"]
print("orignal list:",l1)
print()
l1[2]="ram"
print("after update list is:",l1)
print()

#appending

list1=[10,"rahul",'z']
print("orignal list:",list1)
list1.append(10.45)
print("after appending list is:",list1)
print()

#deleting

list1=[10,'rahul',50.8,'a',20,30,1,2,3,4,5]
print("your list is:",list1)
del list1[0]
print("delet single element[0]:",list1)
del list1[0:3]   
print("delet with given range[0,3]:",list1)

In [ ]:
#-----------------------------------------------------LIST METHOD--------------------------------------------------------------#
'''
1.maximum
2.minimum
3.Length of list
4.list(sequence)
'''
list1=[101,981,'abcd','xyz','m']   #only digit

#minimum

list2=[25,323,541,515,45,12,15,16,11,18,17,64,65,56]
print("your list is:",list2)
print()
print("Minimum value in List1:",min(list2))
print()

#maximu

list2=[25,323,541,515,45,12,15,16,11,18,17,64,65,56]
print("your list is:",list2)
print()
print("maximum value in List1:",max(list2))
print()

#length of list

list2=[25,323,541,515,45,12,15,16,11,18,17,64,65,56]
print("your list is:",list2)
print()
print("length of List1:",len(list2))
print()

#list sequence

seq=("v",525,"haresh",10,360,45,12,1)
print(seq ,"tuple")
print()
dis={"v",525,"haresh",10,360,45,12,1}
print(dict,"dictnory")
print("your list is:",seq)
print()
print("list to tuple sequence is:",list(seq)) #convrt tupel to list
print()
print()
print("list to dict sequence is:",list(dis)) #convrt dict to list
print()

In [ ]:
#--------------------------------------------Built-in methods of List----------------------------------------------------------#
'''
1.index
2.count
3.pop
4.insert
5.extend
6.remove
7.revers
8.sort
'''
#index

list = input("Enter your list:")
print("this is my list:",[list])
print()
index=input("Enter which one index find:")
print ("your select index is:",list.index(index))
print()


#count

data=[786,'abc','a',123.5,786,'rahul','b',786]
print ("your cont  is:",data.count(786))

#pop

data = [786,'abc','a',123.5,786]
print("data is given:",data)
print ("Last element is deleted :", data.pop())
print("after using pop:",data)
print()
print ("2nd position element:", data.pop(1))    
print("after given argument in pop:",data)


#insert
data=['abc',123,10.5,'a']
print("my data:",data)
print()
data.insert(2,'hello')
print("using insert method:",data)



#extend

data1=['abc',123,10.5,'a']
print("withaout extend list is:",data1)
print()
data2=['ram',541]
#data3=data1+data2
data1.extend(data2)
print("after use extend function:",data1)


#remove
data1=['abc',123,10.5,'a','xyz']
print("befor remove list is:",data1)
print()
data1.remove('xyz')
print("after remove list is:",data1)


#reverse
data1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
print("befor use revers:",data1)
print()
data1.reverse()
print("after use revers:",data1)



#sort
data1=[15,17,50,11,5,6,7,8,9,10,11,12,13,14]
print("befor use sort:",data1)
print()
data1.sort()
print("after use sort:",data1)

In [3]:
lst = [1, 2, 3, (4, 5), [7, (8,9), 7]]

for item in lst:
  if (type(item) == list) or (type(item) == tuple):
    print(item)

(4, 5)
[7, (8, 9), 7]
ERROR! Session/line number was not unique in database. History logging moved to new session 21

In [5]:
#------------------------------------------------------TUPLE-------------------------------------------------------------------#
'''
immutable
round breckets 
coma is must in simple breackets
tuple()
'''
tup=(10,20,'ram',56.8)
print(type(tup))
#----------------
name="haresh"
t2 = tuple(name)
print(t2)
type(t2)

<class 'tuple'>
('h', 'a', 'r', 'e', 's', 'h')

tuple

In [ ]:
#For a single valued tuple, there must be a comma at the end of the value. 
tup=(10,) 
print(tup)

In [6]:
#it means we can pass tuple as an element to create a new tuple.
tup='a','mahesh',10.56          
tup1=tup,(10,20,30)   
print(tup1)

(('a', 'mahesh', 10.56), (10, 20, 30))

In [ ]:
#--------------------------------------------------TUPLE OPRATION--------------------------------------------------------------#
#Concatenation operator(+) 
t1=(1,2,3,'ram',4,5,'v')
t2=(9,8,7,'shyam',5,4,'h')
t3=t1+t2
print("concatenation operator(+):",t3)
print()

#Replicating  oprator(*)
t1=('ram',14,17)
t2=t1*5
print("Replicating oprator(*):",t2)

In [ ]:
#-------------------------------------------------TUPLE SLICING----------------------------------------------------------------#
#slicing in tuple

t = (1, 2, 3, 1.1, 2.2, "tops", [100, 200, 300], 10, True, "python", 1, 2, False, 7, 8, 4)
print(t[::12])
print(t[14:])
print(t[:3:3])
print(t[1:14:7])
print(t[-14::])
print(t[::-2])
print(t[:-1:-3])
print(t[-14:-12:2])
print(t[-10:-7])

In [ ]:
#-------------------------------------------------TUPLE FUNCTION---------------------------------------------------------------#
'''
1.maximum
2.minimum
3.Length of tuple
4.tuple(sequence)
'''

#minimum

tup=(25,323,541,515,45,12,15,16,11,18,17,64,65,56)
print("your tup is:",tup)
print()
print("Minimum value in tup:",min(tup))
print()

#maximu

tup=(25,323,541,515,45,12,15,16,11,18,17,64,65,56)
print("your tup is:",tup)
print()
print("maximum value in tup:",max(tup))
print()

#length of TUPLE

tup=(25,323,541,515,45,12,15,16,11,18,17,64,65,56)
print("your tup is:",tup)
print()
print("length of tup is:",min(tup))
print()

#TUPLE sequence
'''
seq=["v",525,"haresh",10,360,45,12,1]
print("list",seq)
print()

dis={"v",525,"haresh",10,360,45,12,1}
print("dictnory:",dis)
print()

print("your list is:",seq)
print()
print("list to tuple sequence is:",tup(seq)) #convrt list to tuple (TypeError: 'tuple' object is not callable)
print()

print("your dict is:",dis)
print()
print("list to dict sequence is:",tup(dis)) #convrt dict to tuple
print()
'''

In [7]:
#----------------------------------------------------Dictionary----------------------------------------------------------------#
data={'Id':100, 'Name':'Haresh', 'Profession':'Developer'}          
print ("Id of 1st employer is",data['Id'])
print ("Name of 1st employer is",data['Name'])
print ("Profession of 1st employer is",data['Profession'])

Id of 1st employer is 100
Name of 1st employer is Haresh
Profession of 1st employer is Developer

In [27]:
#(userinput)
#updating
data={'Id':100, 'Name':'Haresh', 'Profession':'Developer'} 
print("old data befor updating:",data)
data['Profession']='Manager'
print("new data after updating:",data)
print()

#updating second method
data={'Id':100, 'Name':'Haresh', 'Profession':'Developer'} 
print("old data befor updating:",data)
data1={'id':200,'name':'varsha'}
data.update(data1)
print("new data after updating:",data)
print()

#deleting
data={100:'Ram', 101:'Suraj', 102:'Alok'} 
print("orignal dictionary :",data)
del data[102]
print("after one element delete:",data)
#del data
#print("all data deleted:",data)
print()
data1={100:'Ram', 101:'Suraj', 102:'Alok'}   
print (str(data1))
print(type(data1))
print()

#length of dictionary
data1={100:'Ram', 101:'Suraj', 102:'Alok'} 
print(len(data1))

old data befor updating: {'Id': 100, 'Name': 'Haresh', 'Profession': 'Developer'}
new data after updating: {'Id': 100, 'Name': 'Haresh', 'Profession': 'Manager'}

old data befor updating: {'Id': 100, 'Name': 'Haresh', 'Profession': 'Developer'}
new data after updating: {'Id': 100, 'Name': 'Haresh', 'Profession': 'Developer', 'id': 200, 'name': 'varsha'}

orignal dictionary : {100: 'Ram', 101: 'Suraj', 102: 'Alok'}
after one element delete: {100: 'Ram', 101: 'Suraj'}

{100: 'Ram', 101: 'Suraj', 102: 'Alok'}
<class 'dict'>

3

In [10]:
#-------------------------------------------------Dictionary  Methods----------------------------------------------------------#
'''
1.keys()
2.values()
3.items()
4.clear()
5.fromkeys(sequence,value1)/ fromkeys(sequence)
6.copy()
7.has_key(key)
8.get(key)
9.pop()
10.popitems()
'''
#keys()

data={1:'haresh',2:'varsha',3:'ram',4:'dax',5:'khush'}
print("your dictionary:",data)
print("get only all keys in your dictionary:", data.keys())
print()

#values()

data={1:'haresh',2:'varsha',3:'ram',4:'dax',5:'khush'}
print("your dictionary:",data)
print("get only all values in your dictionary:", data.values())
print()

#items()

data={1:'haresh',2:'varsha',3:'ram',4:'dax',5:'khush'}
print("your dictionary:",data)
print("get  all items in your dictionary:", data.items())
print()

#clear()

data={1:'haresh',2:'varsha',3:'ram',4:'dax',5:'khush'}
print("your dictionary:",data)
data.clear()
print("clear  all data in your dictionary:",data )
print()

#fromkeys(sequence,value1)/ fromkeys(sequence)
d = {}
r = range(10, 20)
l = 4
d2 = d.fromkeys(r,l)
print("frokeys with loop:",d2)

#copy()
data={'Id':100 , 'Name':'Aakash'}   
data1=data.copy()  
print("use copy function:",data1)
print()
#shallo copy()

#deap copy()
#has_key()
data={'Id':100, 'Name':'Haresh', 'Profession':'Developer','Id':200} 
print("your dictionary:",data)
print("get only value in your dictionary:",data.get('Id'))
print("get only value in your dictionary:",data.get('Name'))
print("get only value in your dictionary:",data.get('Profession'))
print()
#popitems
d={1: 'hirva', 2: 'bhagirath', 3: 'pavan', 4: 'sweety', 6: 'hardik'}
d.popitem()
print("popitems:",d)

your dictionary: {1: 'haresh', 2: 'varsha', 3: 'ram', 4: 'dax', 5: 'khush'}
get only all keys in your dictionary: dict_keys([1, 2, 3, 4, 5])

your dictionary: {1: 'haresh', 2: 'varsha', 3: 'ram', 4: 'dax', 5: 'khush'}
get only all values in your dictionary: dict_values(['haresh', 'varsha', 'ram', 'dax', 'khush'])

your dictionary: {1: 'haresh', 2: 'varsha', 3: 'ram', 4: 'dax', 5: 'khush'}
get  all items in your dictionary: dict_items([(1, 'haresh'), (2, 'varsha'), (3, 'ram'), (4, 'dax'), (5, 'khush')])

your dictionary: {1: 'haresh', 2: 'varsha', 3: 'ram', 4: 'dax', 5: 'khush'}
clear  all data in your dictionary: {}

frokeys with loop: {10: 4, 11: 4, 12: 4, 13: 4, 14: 4, 15: 4, 16: 4, 17: 4, 18: 4, 19: 4}
use copy function: {'Id': 100, 'Name': 'Aakash'}

your dictionary: {'Id': 200, 'Name': 'Haresh', 'Profession': 'Developer'}
get only value in your dictionary: 200
get only value in your dictionary: Haresh
get only value in your dictionary: Developer

popitems: {1: 'hirva', 2: 'bhagirath', 3: 'pavan', 4: 'sweety'}

In [1]:
#dictionary
d = { "a" :"meet", 2 : "aakash", 3 : "vani" }
d.pop("a")
print(d)

{2: 'aakash', 3: 'vani'}

In [8]:
d={1: 'hirva', 2: 'bhagirath', 3: 'pavan', 4: 'sweety'}
for i in d:
  print(i, " : ", d[i])

1  :  hirva
2  :  bhagirath
3  :  pavan
4  :  sweety

In [12]:
d = {1:"haresh", 2:"nandaniya", 3:"ahir", 4:"hindu"}
dnew = {1:"haresh", 2:"nandaniya", 3:"ahir", 4:"hindu"}

d[5] = d[2] 
del d[2]
print(d)

{1: 'haresh', 3: 'ahir', 4: 'hindu', 5: 'nandaniya'}

In [13]:
n = int(input("enter N "))
d= {}

for i in range(1, n+1):
  d[i]=i*i
d

enter N 10

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [18]:
coll = "haresh"
value = None
d2 = d.fromkeys(coll,value)
d2

for i in d2:
  d2[i] = i + "*"

d2

{'h': 'h*', 'a': 'a*', 'r': 'r*', 'e': 'e*', 's': 's*'}

In [11]:
#--------------------------------------------------------sets------------------------------------------------------------------#
set1 = {1,2,3,4}
print(type(set1),set1)

<class 'set'> {1, 2, 3, 4}

In [25]:
#isdisjoint(1arg)
set1 = {1,2,3,4}
set2= {5, 6, 7, 4}
print("use disjoint:",set1.isdisjoint(set2))
print()

#add
set1 = {1,2,3,4}
print("befor adding:",set1)
set1.add(9)
print("after adding:",set1)
print()

#issubset(1arg)
set1 = {1,2,3,4}
set2= {5,6,1,2,3,7,4}
print("use subset:",set1.issubset(set2))
print()

#issuperset(1arg)
set1 = {1,2,3,4}
set2= {5,6,1,2,3,7,4}
print("use superset:",set2.issuperset(set1))
print()

#update()
set1 = {1,2,3,4}
set2= {5,6,7,4}
set1.update(set2)
print(set1)
print()

#remove()
set1 = {1,2,3,4}
print("before remove:",set1)
set1.remove(4)
print("after remove:",set1)
print()

#difference()
set1 = {1,2,3,4}
set2= {5, 6, 1, 4}
set3 = set1.difference(set2)
print("use difference:",set3)
print()

#difference_update
set1 = {1,2,3,4}
set2= {1, 6, 5, 4}
set3=set1.difference_update(set2)
print("use difference_update:",set3)
print()

#intersection
set1 = {1,2,3,4}
set2= {1, 6, 5, 4}
set3 = set1.intersection(set2)
print("use intersection:",set3) #print both are equale
print()

#intersection_update
set1 = {1,2,3,4}
set2= {1, 6, 5, 4}
set1.intersection_update(set2)
print("use intersection_update:",set1) 
print()

#symmetric_difference
set1 = {1,2,3,4}
set2= {1, 6, 5, 4}
set3 = set1.symmetric_difference(set2)
print("use symmetric_difference:",set3) #both are difference
print()
#disgard
#union

use disjoint: False

befor adding: {1, 2, 3, 4}
after adding: {1, 2, 3, 4, 9}

use subset: True

use superset: True

{1, 2, 3, 4, 5, 6, 7}

before remove: {1, 2, 3, 4}
after remove: {1, 2, 3}

use difference: {2, 3}

use difference_update: None

use intersection: {1, 4}

use intersection_update: {1, 4}

use symmetric_difference: {2, 3, 5, 6}

In [13]:
#indx not possible
'''
set1 = {1,2,3,4}
set1[0]
print(set1)
'''

'\nset1 = {1,2,3,4}\nset1[0]\nprint(set1)\n'

In [ ]:
# https://www.scaler.com/topics/python/difference-between-dictionary-list-tuple-and-set-in-python/

# https://docs.python.org/3/library/functions.html

In [61]:
#----------------------------------------------------Function------------------------------------------------------------------#
'''
1.Built in function
2.user define function

In [ ]:
#Python supports following types of formal argument: 
'''
1) Positional argument (Required argument). 
2) Default argument. 
3) Keyword argument (Named argument)
4) arbitory argument
5)
'''

In [17]:
# Positional argument

name=input("Enter Name:")
Surname=input("Enter Surname:")
def myfun(name, surname):
    print("hello ",name," ",surname,"how is thigns")
myfun(name,Surname)

Enter Name:haresh
Enter Surname:nandaniya
hello  haresh   nandaniya how is thigns

In [33]:
#Default argument
def Default(name,surname='nandaniya'):
    print(name ,surname)
str1=input("enter name:")
str2=input("enter surname:")
Default(str1)

enter name:haresh
enter surname:
haresh nandaniya

In [41]:
#positional arguments 
def greet(name, msg):

#docstring
    """This function greets to
    the person with the provided message"""

    print("Hello", name + ', ' + msg)
greet("haresh", "Good morning!")
#----------------------------------------------------------------------------------------------------
def arg(name,surname,city,designation):
    print(name,"",surname," livince in ",city,"roleof compny",designation)
name='haresh'
surname='nandaniya'
city='porbandar'
designation='engineer'
arg(name,surname,city,designation)

Hello haresh, Good morning!
haresh  nandaniya  livince in  porbandar roleof compny engineer

In [45]:
#keyword arguments
def student(firstname, lastname ='nandaniya', city ='Ahmedabad'):
	print(firstname, lastname, 'lives in', city, 'City')

# 1 keyword argument
student(firstname ='ramesh')	

# 2 keyword arguments				
student(firstname ='haresh', lastname='ahir', city ='gandhinagar')

# 3 keyword arguments
student(lastname ='ahir', firstname ='ram')	

# follows order
student("ahir", "haresh", city = "porbandar")

#cant define like this
# positional arguments can't be on right of keyword arguments
def student(name, city ='Banglore', course):
  print(name, 'lives in', city, 'pursuig' , course)

ramesh nandaniya lives in Ahmedabad City
haresh ahir lives in gandhinagar City
ram ahir lives in Ahmedabad City
ahir haresh lives in porbandar City

In [27]:
#arbitraryarguments
def arg_printer(a, b, *args):
    print('a is ', a)
    print('b is ', b)
    print('args are ', args)
    print(type(args))
   
arg_printer(3, 4, 5, 8, 3, 100)
#----------------------------------------------------------------------------------------------------
def greet(*names):
    """This function greets all
    the person in the names tuple."""

    # names is a tuple with arguments
    for name in names:
        print("Hello", name)


greet("haresh", "ram", "shyam", "nirav")
print()
#----------------------------------------------------------------------------------------------------
def addition(a, b, *args, option=False):
   result = 0
   if option:
      for i in args:
        result += i # result = result + i 
      return (a + b + result)
   else:
      return result
print(addition(1,4,5,6,7))
print(addition(1,4,5,6,7, option=True))

a is  3
b is  4
args are  (5, 8, 3, 100)
<class 'tuple'>
Hello haresh
Hello ram
Hello shyam
Hello nirav

0
23

In [ ]:
"""
The **kwargs collect all the keyword arguments that are not explicitly defined. Thus, it does the same operation as *args but for keyword arguments.

    **kwargs allow a function to take any number of keyword arguments.

By default, **kwargs is an empty dictionary. Each undefined keyword argument is stored as a key-value pair in the **kwargs dictionary.


We can use both *args and **kwargs in a function but *args must be put before **kwargs.
"""

In [59]:
def arg_printer(a, b, *args, **kwargs):
   print(a, b)
   print(args)
   print(kwargs)

   
arg_printer(1, 4, 6, param1=5, param2=(8,7,9))

1 4
(6,)
{'param1': 5, 'param2': (8, 7, 9)}

In [60]:
#example which takes all types of arguments in same function 
def student(fname, lname, *hobbies, **marks):
    print("first name is", fname, "last name is", lname, "hobbies are", hobbies,"marks are", marks)
    
student("haresh", "nandaniya", "READING", "CRICKET", m1 = 87, m2 = 78)
student("ramesh", "ahir", "READING", "CRICKET","DRAWING", "Pencil sketch", m1 = 87, m2 = 78, m3=90)

first name is haresh last name is nandaniya hobbies are ('READING', 'CRICKET') marks are {'m1': 87, 'm2': 78}
first name is ramesh last name is ahir hobbies are ('READING', 'CRICKET', 'DRAWING', 'Pencil sketch') marks are {'m1': 87, 'm2': 78, 'm3': 90}

In [66]:
#packing and unpacking of variables

#If we pass a list to the function above, it will stored in args tuple as one single element.

#If we put an asterisk before lst, the values in the list will be unpacked and stored in args tuple separately.

def arg_printer(*args):
   print(args)
lst = [1,4,5]
arg_printer(lst)
lst = [1,4,5]
arg_printer(*lst)
#---------------------------------------------------------------------------
#We can pass multiple iterables to be unpacked together with single elements. All values will be stored in the args tuple.

lst = [1,4,5]
tpl = ('a','b',4)
arg_printer(*lst, *tpl, 5, 6)
#-----------------------------------------------------------------------------------------------------
#We can do the packing and unpacking with keyword arguments as well. But the iterable that is passed as keyword arguments must be a mapping such as a dictionary.
def arg_printer(*args,**kwargs):
   print(args, kwargs)
#But the iterable that is passed as keyword arguments must be a mapping such as a dictionary.
dct = {'param1':5, 'param2':8}

arg_printer(**dct)

#-------------------------------------------------
#If we also pass additional keyword arguments together with a dictionary, they will combined and stored in the kwargs dictionary.
dct = {'param1':5, 'param2':8}
arg_printer(6, 7,param3=9)

([1, 4, 5],)
(1, 4, 5)
(1, 4, 5, 'a', 'b', 4, 5, 6)
() {'param1': 5, 'param2': 8}
(6, 7) {'param3': 9}

In [67]:
#good example of use of function arguments..positional, keyword, and arbritary parameters

#function declaration
def emp(fname, lname, *bonus, **sellery):
  
  print("My name is",fname,lname, " and my yearwise salaries are as",sellery, " and diffrent bonus i received during these years are",bonus)
#function declaration over

fname = input("Enter your fname")
lname = input("Enter your last name")

noofyears = int(input("how many years of salary you want to enter?"))
yearwisesalary = {}
for i in range(noofyears):
    yearv = input("Enter year")
    salary = input("Enter the salary of the year entered:")
    yearwisesalary[yearv] = salary

#print('dic:',yearwisesalary)
 
bonus = input('Please enter bonus values in sequence seperated by a space:')
#spliting the input values by space
bonus_tuple = tuple(str(val) for val in bonus.split())
#print('tuple:',bonus_tuple)

#calling the function
emp(fname,lname,*bonus_tuple,**yearwisesalary)

Enter your fnameharesh
Enter your last namenandaniya
how many years of salary you want to enter?3
Enter year2022
Enter the salary of the year entered:20000
Enter year2023
Enter the salary of the year entered:60000
Enter year2024
Enter the salary of the year entered:100000
Please enter bonus values in sequence seperated by a space:20 23 24 25 26
My name is haresh nandaniya  and my yearwise salaries are as {'2022': '20000', '2023': '60000', '2024': '100000'}  and diffrent bonus i received during these years are ('20', '23', '24', '25', '26')

In [ ]:
# https://www.geeksforgeeks.org/python-programming-examples/ 


#practice

In [ ]:
#Anonymous Function (lambda)

In [ ]:
#--------------------------------------------------input/output----------------------------------------------------------------#
n=input("Enter your expression ");   
print ("The evaluated expression is ", n)